.ant-layout-content.padded {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.ant-layout-content.padded {
    text-align: left;
}

@media only screen and (max-width: 768px) {
  .ant-layout-content.padded {
    width: auto;
  }
}

@media only screen and (min-width: 768px) {
  .ant-layout-content.padded {
    width: 750px;
  }
}

@media only screen and (min-width: 992px) {
  .ant-layout-content.padded {
    width: 970px;
  }
}

@media only screen and (min-width: 1200px) {
  .ant-layout-content.padded {
    width: 1170px;
  }
}